.info{
    border: lightblue 1px solid;
    font-size: medium;
    height: 80px;
}

.playerSetup{
    margin: 2em auto;
    
}

.playerchar{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 1em auto;
    text-align: center;
}
.P1{
    color: green;
}
.P2{
    color: red;
}

.timer{
    text-align: center;
    vertical-align: middle;
    padding: auto;
    margin: auto;
}
