.subgame{
    border: 1px solid Red;
    margin: 5px;
    padding: 0;
}

.selectable-board {
    border:5px solid grey;
    margin: 1px;
}

.selectable-board-p1 {
    border:5px solid green;
    margin: 1px;
}

.selectable-board-p2 {
    border:5px solid red;
    margin: 1px;
}